.content.akm.index{
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 5rem;
    h1, h2, h4, h6{
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 300;
    }
    h1{
        font-size: 3.5rem;
        color: #03a9f4;
    }
    h2{
        font-size: 10rem;
        color: #c6ff00;
    }
    h4{
        font-size: 3.9rem;
        color: #eeff41;
    }
    h6{
        margin-top: 5rem;
        font-size: 2rem;
        font-weight: 400;
        color: #0091ea;
    }
}

.tombol.ubahqty{
    margin-bottom: 0;
    padding: 0.4125rem;
    width: 40px;
}

div.summary {
    text-align: right;
}