/* 
    Created on : 28 Maret 2024, 11:29 AM
    Author     : abumuhammad
*/

$biru: #0b62a4;
$biru-muda: #7a92a3;
$hijau: #4da74d;
$toska: #00bcd4;
$oranye: #edc240;
$merah: #b71c1c;
$violet: #9440ed;
$warna-text: #212121;
$warning-color: #f57c00;

h1 {
    font-size: 2rem;
}
.box {
    // border: 1px solid #fff;
    height: 100%;
    overflow: scroll;
}
.kiri_atas {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    overflow: hidden;
}
.kanan_atas {
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    img {
        width: 149px;
        margin: auto;
        display: block;
    }
}
.kiri_bawah {
    background-color: rgba(255, 255, 255, 0.01);
    overflow: hidden;
}
.kanan_bawah {
    // padding: 1rem;
    display: flex;
    // align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
#info_kasir {
    margin: auto;
    p {
        margin-bottom: 0;
        font-size: 1.1rem;
    }
    p:nth-of-type(2) {
        margin-bottom: 1.25rem;
    }
}
#info_cust {
    margin: auto;
    p {
        margin-bottom: 0;
        font-size: 1.25rem;
    }
    p:nth-of-type(1) {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }
}

#welcome {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
        margin-bottom: 1.25rem;
    }
}

#last_scan {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    p {
        margin-bottom: 0;
        font-size: 1.25rem;
        span {
            padding: 0 5px;
            display: inline-block;
        }
        span:nth-of-type(1) {
            width: 6.5rem;
        }
    }
    p:nth-of-type(1) {
        margin-bottom: 1.25rem;
        font-size: 2rem;
    }
    p:nth-of-type(3) {
        font-size: 1.5rem;
    }
}

.network_status {
    position: absolute;
    bottom: 1rem;
    .sinyal {
        display: block;
        background: #000;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        margin: 0;
        &.mati {
            background: radial-gradient(circle at 10px 3px, #e31a1c, #000);
        }
        &.nyala {
            background: radial-gradient(circle at 10px 3px, #65c728, #000);
        }
        &.error {
            background: radial-gradient(circle at 10px 3px, #0079d8, #000);
        }
    }
}

#detail_tr {
    width: 100%;
    padding-top: 1rem;
}

/* Tabel Penjualan Detail */
.t_wrapper {
    height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: auto;
}

.t_detail {
    // height: 200px;
    // border: 2px solid black;
    border: none;
    overflow: auto;
    width: 100%;
    // height: calc(100% - 60px);
    thead {
        font-weight: 500;
        // color: rgba(0, 0, 0, 0.85);tr th {
        position: sticky;
        top: 0;
    }
    th {
        // border-left: 1px dotted rgba(200, 209, 224, 0.6);
        border-bottom: 1px solid #e8e8e8;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: left;
        // box-shadow: 0px 0px 0 2px #e8e8e8;
    }
    td {
        text-align: right;
        &:nth-child(1) {
            text-align: left;
        }
    }
}

// tbody tr {
// border-bottom: 2px solid #e8e8e8;
// }
/* Eo Tabel Penjualan Detail */

#time_board {
    // margin: auto;
    width: 100%;
    color: $warna-text;
    hr {
        border-color: $warna-text;
    }
    p {
        margin: 0;
        font-size: 2rem;
    }
    #waktu {
        font-size: 3rem;
        font-weight: 700;
        #separator {
            padding: 0 2px;
            animation: blinker 2s linear infinite;
        }
    }
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
