# Payment Gateway E2PAY
PG_APIURL=
PG_MERCHANTID=
PG_TXNTYPE=
PG_TXNCHANNEL=
PG_TXNCURRENCY=IDR
PG_VERIVICATIONKEY=
PG_CALLBACKURL=

# Customer default value
PG_CUSTNAME=Umum
PG_CUSTEMAIL=custumer@tokomart.com
PG_CUSTCONTACT=02123456789

# Websocket Server
WS_SERVER_CENTRAL_URL=ws://paymentCallbackServer:port
WS_SERVER_STORE_URL=ws://localhost:port