/* 
    Created on : Jan 3, 2014, 10:32:29 AM
    Author     : abumuhammad
*/

$biru: #0b62a4;
$biru-muda: #7a92a3;
$hijau: #4da74d;
$toska: #00bcd4;
$oranye: #edc240;
$merah: #b71c1c;
$violet: #9440ed;
$warna-text: #212121;
$warning-color: #ff5722; //primary color
@mixin animasi($param) {
    -webkit-animation: $param;
    -moz-animation: $param;
    -ms-animation: $param;
    animation: $param;
}

body {
    color: #546e7a;
    background: #cfd8dc;
    padding: 0;
    margin: 0;
    font-family: Ubuntu, "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    /*font-weight: 300;*/
    line-height: 1;
    position: relative;
    cursor: default;
}

.delete,
.angka-negatif {
    color: $merah;
}

// Tambahin garis di bawah
nav.top-bar {
    box-shadow: 0 1px #4e4e4e;
    background: #37474f;
}

.top-bar-section {
    ul li {
        background: #37474f;
    }
    li:not(.has-form) {
        a:not(.button) {
            background: #37474f;
        }
        a:hover:not(.button) {
            background: #37474f;
        }
        & > a {
            background: #37474f;
        }
    }
    & > ul > .divider {
        border-right: 1px solid #455a64;
    }
    & .divider {
        border-top: 1px solid #455a64;
    }
    .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        background: #37474f;
    }
    .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
        background: #2d3a41;
    }

    .has-form {
        background: #37474f;
    }
}

// Font Override
nav .top-bar-section ul li > a {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #263238;
}

hr {
    border: solid #546e7a;
    border-width: 1px 0 0;
}

// eo font override
select {
    color: $warna-text;
    font-family: Ubuntu, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

option {
    &.option-head {
        text-transform: uppercase;
        font-weight: bold;
    }
}

/*------------------*/

#content {
    margin: 0px 0px 30px;
    padding-top: 15px;
}

.getar {
    @include animasi(tada 1s infinite);
}

.tabel-index {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
    input,
    select {
        margin-bottom: 0px;
    }
    th {
        //text-align: center;
    }
    td {
        font-size: 0.825em;
    }
    tr.baru, tr.manual  {
        background-color: #f57c00;
        font-weight: bold;
        td {
            color: #fff;
            a.editable {
                color: #fff;
                border-bottom-color: #fff;
            }
        }
    }
    tr.hj-berubah {
        background-color: #388e3c;
        font-weight: bold;
        td {
            color: #fff;
            a.editable {
                color: #fff;
                border-bottom-color: #fff;
            }
        }
    }
    tr.margin-min {
        background-color: $merah;
        font-weight: bold;
        td {
            color: #fff;
            a {
                &.editable {
                    color: #fff;
                    border-bottom-color: #fff;
                }
                &.delete {
                    color: $oranye;
                }
            }
        }
    }
}

input,
select {
    &.error {
        margin-bottom: 0px;
    }
}

nav {
    .title-area {
        img {
            margin-top: -5px;
        }
    }
}

.summary {
    font-size: 0.85em;
    margin-bottom: 10px;
    text-align: right;
    color: #263238;
}

span.required {
    color: $merah;
}

li.active > a {
    background-color: $biru;
    color: #fff;
}

.row {
    max-width: 100%;
}

.block {
    margin-bottom: 10px; //background: url(../img/bg-av.png) top fixed; //rgba(#000, 0.5)
    background-color: #eceff1; //rgba(#000, 0.5);//rgba(34, 45, 45, 0.7);//rgba(14, 39, 40, 0.7);//rgba(0,0,0,0.7);
}

.block-header {
    overflow: visible;
    background: #37474f url(../img/bg3.png) repeat-y left; //border-bottom: 1px solid #222;
    ul {
        &.title-area {
            width: auto;
            float: left;
        }
        &.right {
            width: auto;
        }
    }
    li {
        &.name > h1 {
            color: #fff;
            margin-left: 15px;
            margin-right: 15px;
        }
        &.name > h6 {
            color: #fff;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 10px;
        }
    }
    .has-form {
        padding: 0px 15px; //border-bottom: 1px solid #222;
    }
    .button {
        font-size: 0.875rem;
        position: relative;
        top: 7px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.button.tiny.bigfont {
    font-size: 0.875rem;
}

a.button.micro.bigfont {
    font-size: 0.875rem;
    padding: 0.3rem;
    margin-bottom: 0;
}

.block-content {
    padding: 15px 0 1px; //background: #373b3e;
    border-top: 1px solid #515356;
    & > table {
        //margin: 0;
        tr td {
            font-size: 0.75rem;
        }
    }
    div.panel {
        // padding override
        padding: 0.75rem;
        padding-bottom: 0; //margin: 0 15px 15px;
        form {
            margin: 0 -15px;
        }
    }
    .prefix .fa-2x {
        padding-top: 4px;
    }
}

// Add box shadow to panel
.panel {
    //box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 1px 0 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.15);
    //background-color: #505F69;
    //border-color: #515356;
    background: #cfd8dc; //rgba(#000,0.3);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    dl {
        color: #546e7a;
        small {
            color: #546e7a;
        }
    }
    .detail-view {
        margin-bottom: 20px;
    }
}

// tombol disebelah kanan input
.postfix.button {
    margin-bottom: 0;
    .fa-2x {
        padding-top: 4px;
    }
}

div.error {
    display: block;
    padding: 0.33333rem 0.5rem 0.5rem;
    margin-top: -1px;
    margin-bottom: 0.88889rem;
    font-size: 0.66667rem;
    font-weight: normal;
    font-style: italic;
    background: #f04124;
    color: white;
    &.alone {
        font-size: 0.875rem;
        margin: 0 15px;
        margin-top: -1px;
        margin-bottom: 0.88889rem;
    }
}

#input-pemb-detail {
    input {
        text-align: right;
    }
}

th.rata-kanan,
td.rata-kanan,
.rata-kanan {
    text-align: right;
}

th.rata-tengah,
td.rata-tengah,
.rata-tengah {
    text-align: center;
}

/* Style untuk accesskey */

.ak {
    text-decoration: underline;
    font-weight: bold;
}

tr {
    transition: background-color 0.5s ease;
    &.pilih,
    &.selected {
        background-color: $toska !important;
        a {
            //color: $oranye;
            &.delete {
                color: $violet;
            }
        }
    }
}

.total {
    float: right;
    /*font-weight: bold;*/
    /*font-size: 1.125rem;*/
}

footer {
    text-align: right;
    background-color: #37474f;
    color: white;
    line-height: 20px;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%; //padding: 0 15px;
    z-index: 3;
    box-shadow: 0 -1px #4e4e4e;
    span {
        padding: 0 15px;
        &.left {
            border-right: 1px solid #3e4144;
        }
        &.right {
            border-left: 1px solid #3e4144;
        }
    }
}

.jqstooltip-ovr {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    background: rgb(0, 0, 0) transparent;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 10px;
    text-align: left;
    white-space: nowrap;
    padding: 3px 0;
    height: 30px;
    width: auto;
    border: 1px solid white;
}

.jqsfield {
    color: #fff;
    font: 10px;
    text-align: left;
}

.input-toogle {
    cursor: pointer;
}

.detail-view {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    border: 0;
    tr {
        th {
            text-align: right;
        }
    }
}

.f-dropdown {
    &.box-menu {
        a {
            top: 0;
        }
    }
    &.content {
        padding: 0;
        span {
            display: block;
            padding: 0.5rem;
            color: #555;
        }
    }
}

label {
    color: #546e7a;
}

.datepicker.dropdown-menu {
    //background-color: #34383b;
    border-color: #515356;
}

.datepicker table {
    th {
        background-color: #cfd8dc;
    }
    td {
        background-color: #cfd8dc;
        &.day {
            color: #37474f;
        }
        &.old,
        &.new {
            color: #999;
        }
        span.hour {
            color: #37474f;
        }
        span.minute {
            color: #37474f;
        }
        &.active.day,
        span.active {
            background-color: #e73700;
            color: #fff;
        }
    }
}

.header {
    .label {
        font-size: 0.85rem;
        margin-bottom: 3px;
    }
    .label-total{
        font-size: 1.3rem;
    }
}

.label-total{
    font-size: 1rem;
}

.top-bar-section {
    .dropdown {
        border: 1px solid #3e4144;
    }
    .divider {
        //border-top: 0;
    }
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
    color: $warna-text;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
    //glow effect on focus
    box-shadow: 0px 0px 15px #ff5722;
    border: 1px solid #ff5722;
}

tr {
    transition: background-color 0.5s ease;
    &.pilih {
        background-color: $toska !important;
    }
}

.alert-box.warning {
    background-color: $violet;
    border-color: darken($violet, 10);
}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
}

.grid-loading {
    background: url(3.gif) no-repeat;
    th {
        animation: bgpulse 0.5s infinite;
    }
}

@keyframes bgpulse {
    0% {
        background-color: inherit;
    }
    50% {
        background-color: $warning-color;
    }
    100% {
        background-color: inherit;
    }
}

//jquery-editable overwrite
.editable-clear-x {
    margin-top: -15px;
}

.ui-autocomplete {
    background-color: #fff;
    border: 1px solid #dddcd6;
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-menu-item {
    a {
        color: #37474f;
        font-size: 0.9rem;
        small {
            font-size: 0.75rem;
        }
    }
    &.ui-state-focus {
        box-shadow: 0px 0px 15px #afd8f8;
        border: 1px solid #afd8f8;
        margin: 0;
        background-color: #00b7f3;
    }
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.select2-container {
    margin-bottom: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f93c00;
    border-color: darken(#f93c00, 10%);
    color: #fff;
    font-size: 0.9rem;
}

.select2-results__options {
    color: $warna-text;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f93c00;
}

.text-total {
    font-weight: bold;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    vertical-align: middle;
    margin-top: -0.5rem;
}

pre {
    padding-bottom: 1rem;
}

.small-only {
    display: none;
}

@media only screen and (max-width: 640px) {
    .small-only {
        display: table-cell;
    }
}
