/* 
    Created on : Mar 11, 2014, 10:07:14 AM
    Author     : abumuhammad
*/

$biru: #0b62a4;
$biru-muda: #7a92a3;
$hijau: #4da74d;
$toska: #afd8f8;
$oranye: #ff5722;
$merah: #cb4b4b;
$violet: #9440ed;

$primary-color: #ff5722;
$secondary-color: #37474f;
$alert-color: #d32f2f;
$success-color: #11a861;
$warning-color: #ffcf63;
$info-color: #455a64;

body,
html {
    height: 100%;
}
body {
    color: #546e7a;
    background: #eceff1;
    padding: 0;
    margin: 0;
    font-family: Ubuntu, "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    position: relative;
    cursor: default;
}
a {
    color: #00e5ff;
}
.prefix .fa-2x {
    padding-top: 4px;
}
.postfix .fa-2x {
    padding-top: 4px;
}

.sidebar {
    background-color: #263238;
    padding-top: 15px;
    .huruf {
        font-size: 1.5rem;
    }
}
#info-tabel {
    width: 100%;
    .key {
        font-weight: bold;
        text-align: right;
    }
    td {
        font-size: 0.825rem;
        padding: 2px;
    }
}
#transaksi {
    padding-bottom: 30px;
}
.tabel-detail-jual {
    width: 100%;
}
#subtotal-belanja {
    font-size: 2rem;
    color: #fff;
    text-align: right;
    padding: 5px 0px;
    width: 100%;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0 -4px 30px;
}
#total-belanja {
    font-size: 3.5rem;
    color: #fff;
    text-align: right;
    padding: 5px 0px;
    width: 100%;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0 -4px 30px;
}
#surcharge {
    font-size: 2rem;
    color: #f00;
    text-align: right;
    padding: 5px 0px;
    width: 100%;
    text-shadow: 1px 1px black;
}
#kembali {
    font-size: 2.5rem;
    color: #fff;
    text-align: right;
    padding: 5px 0px;
    width: 100%;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0 -4px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    &.negatif {
        color: $alert-color;
    }
}

#logo {
    /*background-color: #fff;*/
    /*padding: 10px;*/
    margin-bottom: 35px;
}

#tombol-simpan {
    float: right;
}

#tombol-batal {
    float: left;
}

.off-canvas-wrap,
.main-section,
.inner-wrap {
    height: 100%;
}

#gritter-notice-wrapper {
    left: 33%;
    right: 33%;
    top: 3px;
}
/* Custom editable untuk POS */
.editable-input {
    width: 50px;
    &.input-editable-harga-p {
        width: 75px;
    }
}

.editable-buttons {
    button {
        height: 25px;
        line-height: 12px;
        text-transform: capitalize;
        width: 30px;
        &.editable-cancel {
            top: -25px;
            left: 31px;
            width: 30px;
        }
    }
}

.editable-container {
    height: 20px;
    margin-top: -10px;
}

.tabel-index input.edit-input,
.tabel-index .editable-input input {
    height: 25px;
    padding: 2px 2px;
}
.editable-clear-x {
    margin-top: -7px;
}
.tabel-index {
    th a {
        color: #263238;
    }
    tr td {
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-weight: 700;
        text-shadow: 2px 6px 5px rgba(0, 0, 0, 0.2), 0px -4px 30px rgba(255, 255, 255, 0.4);
        &.barcode {
            font-size: 0.7rem;
            font-weight: 700;
        }
    }
}

tr.pilih,
tr.selected {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
/* ============== */

.stack {
    margin-bottom: 15px;
}

.main-section {
    margin: 15px;
}

table,
table thead {
    background: #cfd8dc;
}

table thead tr th,
table thead tr td {
    color: #546e7a;
    font-size: 0.9rem;
    font-weight: normal;
    padding: 0.5rem 0.625rem 0.625rem;
    background-color: #cfd8dc;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
    background-color: #455a64;
}

table tr.odd {
    background-color: #37474f;
}

table tr th,
table tr td {
    color: #fff;
}

#label-customer {
    cursor: pointer;
}

#ganti-customer {
    margin-top: 10px;
}

#data-customer,
#data-member {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 0.9rem;
    border-top: 1px solid $biru-muda;
    border-bottom: 1px solid $biru-muda;
    nomor {
        font-weight: bold;
        color: $hijau;
        display: block;
    }
    nama {
        font-weight: bold;
        display: block;
        margin: 10px 0;
    }
}
.ac-nama {
    float: left;
    width: 45%;
}
.ac-harga {
    color: #fff;
    font-weight: bold;
    float: left;
    width: 15%;
    text-align: right;
}
.ac-barcode {
    float: left;
    width: 30%;
    padding-left: 5px;
}
.ac-stok {
    color: #fff;
    font-weight: bold;
    float: left;
    width: 10%;
    text-align: right;
}

.geleng {
    -webkit-animation: shake 1s infinite;
    -moz-animation: shake 1s infinite;
    -ms-animation: shake 1s infinite;
    animation: flash 2s infinite;
}

#scan,
input[name="kasbank[]"].uang-dibayar,
input[name="tarik-tunai"].tarik-tunai,
#account,
#account-tariktunai,
#jenisbayar,
#nomor-customer,
#admin-user,
#admin-password,
#akm-no,
#pesanan-no,
#infaq,
#diskon-nota {
    background-color: #eff1f3;
    color: 546e7a;
    border-color: transparent;
}

#scan:focus,
input[name="kasbank[]"].uang-dibayar:focus,
#account:focus,
#account-tariktunai:focus,
#jenisbayar:focus,
#nomor-customer:focus,
#admin-user:focus,
#admin-password:focus,
#akm-no:focus,
#pesanan-no:focus,
#infaq:focus,
#diskon-nota:focus {
    border-top-color: #ff5722;
    border-bottom-color: #ff5722;
    box-shadow: 0px 0px 15px #ff5722;
}

#scan-icon,
span.prefix,
span.postfix {
    //background-color: rgba(0, 0, 0, 0.5);
    color: #546e7a;
    border-color: transparent;
}

.ui-autocomplete {
    background-color: rgba(55, 71, 79, 0.95);
    border-color: transparent;
}

.ui-menu-item a {
    color: #fff;
}

.ui-menu .ui-menu-item {
    border-bottom: 1px solid;
}

.ui-menu-item.ui-state-focus {
    background-color: #263238;
}
button.warning,
.button.warning {
    color: #263238;
}

.panel {
    background: #263238;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    dl {
        color: #fff;
    }
    h1 {
        font-weight: 700;
        font-size: 48pt;
        color: #fff;
    }
    h4 {
        font-weight: 400;
        color: #fff;
    }
}

div.summary {
    text-align: center;
}

.grid-loading {
    th {
        animation: bgpulse 0.5s infinite;
    }
}

@keyframes bgpulse {
    0% {
        background-color: inherit;
    }
    50% {
        background-color: $primary-color;
    }
    100% {
        background-color: inherit;
    }
}

// Untuk tampilan small
aside > ul.stack,
aside > form,
aside > span,
aside > div,
aside > a#tombol-simpan,
aside > a#tombol-batal,
aside > a#tombol-baru,
aside > a#tombol-print {
    margin-left: 10px;
    margin-right: 10px;
}

aside > a#tombol-baru {
    width: 14.4rem;
}

aside > #total-belanja {
    font-size: 2rem;
}

aside > #subtotal-belanja,
aside > #kembali {
    font-size: 1.5rem;
}

aside > #subtotal-belanja,
aside > #total-belanja,
aside > #kembali {
    padding-right: 20px;
}
aside > .row {
    padding-right: 10px;
    padding-left: 10px;
}

.left-off-canvas-menu,
.right-off-canvas-menu {
    background: #263238;
}

.left-off-canvas-menu {
    padding-top: 10px;
}

a.prefix {
    color: #546e7a;
    border-color: transparent;
}
